/ - tags = Game.all_methods.pluck(:name).uniq.sort_by{|f| f.split(" ")[0].to_i }
- tags = Game.all_methods
h1.question מה עושים במשחק?
.answers.d-flex.flex-wrap.w-100.justify-content-center
	- tags.each_with_index do |tag, i|
		button.answer.no-outline.rounded.m-4.d-flex.justify-content-center.align-items-center.border-none value="#{tag.id}"
			= tag.name
button.send.bg-secondary.rounded.m-4.d-flex.justify-content-center.align-items-center.border-none המשך
javascript:
	Cookies.set("question", 2)

	var tags_array = []
	$(".answer").click(function(event) {
		var content = $(this).html()
		if ($(this).hasClass('clicked')) {
			var index = tags_array.indexOf(content);
			tags_array.splice(index, 1);

		}
		else {
			if (!tags_array.includes(content)) {
				tags_array.push(content)
			}
		}
		$(this).toggleClass('clicked');

		console.log("tags_array: " + tags_array);
	});
	function set_tags() {
    var new_cookie = Cookies.get('tags')
		var check_cookie = new_cookie.split(",")
    if (!check_cookie.includes(tags_array)) {
      if (new_cookie) {
        new_cookie += "," + tags_array
      }
      else {
        new_cookie = tags_array
      }
    }
		Cookies.set('tags', new_cookie)
		console.log("Cookies.get('tags'): " + Cookies.get('tags'));
    $('#render-container').html("#{j render 'pages/styles'}")
	}
