- tags = Game.all_methods
h1.question מה עושים במשחק?
.answers.d-flex.flex-wrap.w-100.justify-content-center
	- tags.each_with_index do |tag, i|
		button.answer.bg-secondary.rounded.m-4.d-flex.justify-content-center.align-items-center.border-none value="#{tag.id}"
			= tag.name

javascript:
	$(".answer").click(function(event) {
    var new_cookie = Cookies.get('tags')
    var check_cookie = new_cookie.split(",")
    if (!check_cookie.includes($(this).val())) {
      if (new_cookie) {
        new_cookie += "," + $(this).val()
      }
      else {
        new_cookie = $(this).val()
      }
    }
		Cookies.set('tags', new_cookie)
		console.log(Cookies.get('tags'));
    $('#render-container').html("#{j render 'pages/styles'}")
	})
	$.ajax({
	 type: "GET",
	 dataType: "json",
	 data: { tags: Cookies.getJSON('tags') },
	 url: "/filter_tag",
	 success: function(data){
		 $('#game').html(data[0].name)
		 console.log("ajax");
	}})
