- tags = Game.all_styles
h1.question איזה מאפיינים צריך מהמשחק?
.answers.d-flex.flex-wrap.w-100.justify-content-center
	- tags.each_with_index do |tag, i|
		button.answer.bg-secondary.rounded.m-4.d-flex.justify-content-center.align-items-center.border-none value="#{tag.id}"
			= tag.name

javascript:
	$(".answer").click(function(event) {
    var new_cookie = Cookies.get('tags')
    var check_cookie = new_cookie.split(",")
    if (!check_cookie.includes($(this).val())) {
      if (new_cookie) {
        new_cookie += "," + $(this).val()
      }
      else {
        new_cookie = $(this).val()
      }
    }
		Cookies.set('tags', new_cookie)
		console.log(Cookies.get('tags'));
    alert("Done")
	})
