# truncate your rails log every day
# Usage:
# `cp logrotate.conf.example /etc/logrotate.d/sahki`
/data/www/sahki/current/log/*.log {
  daily
  missingok
  rotate 7
  compress
  delaycompress
  notifempty
  copytruncate
  su ruby ruby
}
