@import 'bootstrap_custom'

@import 'home'
@import 'trix/dist/trix'
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap')

$primary: linear-gradient(180deg, #C260FF 0%, #6000CF 100%)
$primary-solid: #C260FF
$secondary: #FFE818
$tertiary: #22FF88

*
	text-shadow: none

body
	font-family: 'Suez One', serif !important
	min-height: 100vh
	background: #efefef
	// overflow: hidden

.h-100v
	height: 100vh
.h-12v
	height: 12vh

.h-1
	height: 10vh

.w-1
	width: 10vh
.h-2
	height: 15vh

.w-2
	width: 15vh

.home-logo
	padding-top: 20vh
	margin-bottom: 10vh
.form-logo
	padding-top: 1vh
	margin-bottom: 2vh
	img
		height: 10vh
		max-height: 10vh
		min-height: 5vh
#22FF88

.home-app-name
	margin-bottom: 10vh


.home-play
	bottom: 15vh

.home-plus-search
	bottom: 7vh

.bg-primary
	background: $primary
.bg-primary-solid
	background: $primary-solid

.bg-secondary
	background: $secondary !important
.bg-tertiary
	background: $tertiary
.icon-secondary
	color: $secondary

.bg-secondary:hover
	background-color: $secondary

button.bg-secondary:hover

		outline: none
.form-back
	transform: translate(-50%, 0)

.question
	margin-top: 6vh
	font-size: 6vh
.game-name
	font-size: 4vh

.answer
	width: 30vw
	height: 10vw
	outline: none
	// box-shadow: -3px 3px 0px 3px #D2BD00
.form-games
	// transform: translate(0, -12vh)
	position: absolute
	bottom: 0
	width: 100%
	box-shadow: 0px -5px 9px 1px #00000055
	border-radius: 20px 20px 0 0
	min-height: 12vh
	max-height: 85vh

.games-move-up
	height: 88vh
	// transform: translate(0, -88vh)
	border-radius: 20px 20px 0 0

.question-move-up
	transform: translate(0, -20vh)
.game-attrs
	font-size: 2rem

// .move-up
// 	animation: move-up 4s

// @keyframes move-up
//   0%
// 		transform: translate(0, 0)
//   100%
// 		transform: translate(0, -88vh)
// @keyframes move-up
//   0%
// 		transform: rotate(0deg)
//   100%
// 		transform: rotate(360deg)
// * Set the background image sources */
.swipe
  overflow: hidden
  visibility: hidden
  position: relative

.swipe-wrap
  overflow: hidden
  position: relative

.swipe-wrap > div
  float: left
  width: 100%
  position: relative
.draggable
  touch-action: none
  user-select: none
.resizable
  touch-action: none
  user-select: none


#board
	width: 100vw
	position: relative
	height: 70vh
	overflow: hidden
	// border-radius: 20px 20px 0 0
  // background-color: white

.card
  width: 70vw
  height: 60vh
  position: absolute
  top: 43%
  left: 50%
  border-radius: 1%
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1)
  background-color: white
  transform: translateX(-50%) translateY(-50%)
.search-card
	width: 70vw
	height: 60vh
	border-radius: 1%
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1)
	background-color: white
	margin: 2rem 0 2rem 0
	border: none  !important
	border-radius: 20px 20px 20px 20px


.no-border
	border: none  !important
	box-shadow: none  !important
	border-radius: 20px 20px 20px 20px

.board-min-height
	min-height: 10vh

.question-up
	position: absolute
	top: 30px
.hidden
	display: none

.border-none
	border: none

.search-icon
	background: white !important
	border-top: none !important
	border-right: none !important
	border-left: none !important
	border-bottom: 1px solid grey
	border-top-left-radius: 30px
	border-bottom-left-radius: 30px
	height: 3rem
	padding-bottom: 0
	padding-left: 1rem

#search_term
	border-bottom: 1px solid grey
	border-top: none !important
	border-right: none !important
	border-left: none !important
	border-top-right-radius: 30px
	border-bottom-right-radius: 30px
	height: 3rem
	padding-right: 1rem

.search-container
	background: #efefef

#lengthSlider .slider-selection
	background: #BABABA

.clicked
	background: $tertiary !important

.no-outline
	outline: none !important

// game form
.funkyradio
  div
    clear: both
    overflow: hidden

  label
    width: 100%
    border-radius: 3px
    border: 1px solid #D1D3D4
    font-weight: normal

  input
    &[type="radio"]:empty, &[type="checkbox"]:empty
      display: none

    &[type="radio"]:empty ~ label, &[type="checkbox"]:empty ~ label
      position: relative
      line-height: 2.5em
      text-indent: 3.25em
      margin-top: 2em
      cursor: pointer
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none

    &[type="radio"]:empty ~ label:before, &[type="checkbox"]:empty ~ label:before
      position: absolute
      display: block
      top: 0
      bottom: 0
      left: 0
      content: ''
      width: 2.5em
      background: #D1D3D4
      border-radius: 3px 0 0 3px

    &[type="radio"]:hover:not(:checked) ~ label, &[type="checkbox"]:hover:not(:checked) ~ label
      color: #888

    &[type="radio"]:hover:not(:checked) ~ label:before, &[type="checkbox"]:hover:not(:checked) ~ label:before
      content: '\2714'
      text-indent: .9em
      color: #C2C2C2

    &[type="radio"]:checked ~ label, &[type="checkbox"]:checked ~ label
      color: #777

    &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
      content: '\2714'
      text-indent: .9em
      color: #333
      background-color: #ccc

    &[type="radio"]:focus ~ label:before, &[type="checkbox"]:focus ~ label:before
      box-shadow: 0 0 0 3px #999

.funkyradio-default input
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
    color: #333
    background-color: #ccc

.funkyradio-primary input
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
    color: #fff
    background-color: #337ab7

.funkyradio-success input
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
    color: #fff
    background-color: #5cb85c

.funkyradio-danger input
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
    color: #fff
    background-color: #d9534f

.funkyradio-warning input
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
    color: #fff
    background-color: #f0ad4e

.funkyradio-info input
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
    color: #fff
    background-color: #5bc0de

/* SCSS STYLES
/*
 *.funkyradio {
 *
 *    div {
 *        clear: both;
 *        overflow: hidden;
 *    }
 *
 *    label {
 *        width: 100%;
 *        border-radius: 3px;
 *        border: 1px solid #D1D3D4;
 *        font-weight: normal;
 *    }
 *
 *    input[type="radio"],
 *    input[type="checkbox"] {
 *
 *        &:empty {
 *            display: none;
 *
 *            ~ label {
 *                position: relative;
 *                line-height: 2.5em;
 *                text-indent: 3.25em;
 *                margin-top: 2em;
 *                cursor: pointer;
 *                user-select: none;
 *
 *                &:before {
 *                    position: absolute;
 *                    display: block;
 *                    top: 0;
 *                    bottom: 0;
 *                    left: 0;
 *                    content: '';
 *                    width: 2.5em;
 *                    background: #D1D3D4;
 *                    border-radius: 3px 0 0 3px;
 *                }
 *            }
 *        }
 *
 *        &:hover:not(:checked) ~ label {
 *            color: #888;
 *
 *            &:before {
 *                content: '\2714';
 *                text-indent: .9em;
 *                color: #C2C2C2;
 *            }
 *        }
 *
 *        &:checked ~ label {
 *            color: #777;
 *
 *            &:before {
 *                content: '\2714';
 *                text-indent: .9em;
 *                color: #333;
 *                background-color: #ccc;
 *            }
 *        }
 *
 *        &:focus ~ label:before {
 *            box-shadow: 0 0 0 3px #999;
 *        }
 *    }
 *
 *    &-default {
 *        input[type="radio"],
 *        input[type="checkbox"] {
 *            &:checked ~ label:before {
 *                color: #333;
 *                background-color: #ccc;
 *            }
 *        }
 *    }
 *
 *    &-primary {
 *        input[type="radio"],
 *        input[type="checkbox"] {
 *            &:checked ~ label:before {
 *                color: #fff;
 *                background-color: #337ab7;
 *            }
 *        }
 *    }
 *
 *    &-success {
 *        input[type="radio"],
 *        input[type="checkbox"] {
 *            &:checked ~ label:before {
 *                color: #fff;
 *                background-color: #5cb85c;
 *            }
 *        }
 *    }
 *
 *    &-danger {
 *        input[type="radio"],
 *        input[type="checkbox"] {
 *            &:checked ~ label:before {
 *                color: #fff;
 *                background-color: #d9534f;
 *            }
 *        }
 *    }
 *
 *    &-warning {
 *        input[type="radio"],
 *        input[type="checkbox"] {
 *            &:checked ~ label:before {
 *                color: #fff;
 *                background-color: #f0ad4e;
 *            }
 *        }
 *    }
 *
 *    &-info {
 *        input[type="radio"],
 *        input[type="checkbox"] {
 *            &:checked ~ label:before {
 *                color: #fff;
 *                background-color: #5bc0de;
 *            }
 *        }
 *    }
 *}
